<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>testForms</display-name>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/lib/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>

	<servlet>
		<servlet-name>GestionTestJDBC</servlet-name>
		<servlet-class>com.sdzee.servlets.GestionTestJDBC</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GestionTestJDBC</servlet-name>
		<url-pattern>/testjdbc</url-pattern>
	</servlet-mapping>

	<!--	Filter entire app, in case it would only be accessed by logged in users
	<filter>
        <filter-name>RestrictionFilter</filter-name>
        <filter-class>com.sdzee.filters.RestrictionFilter</filter-class>
	</filter>
	<filter-mapping>
	        <filter-name>RestrictionFilter</filter-name>
	        <url-pattern>/*</url-pattern>
	</filter-mapping>
	-->

	<filter>
	    <filter-name>Set Character Encoding</filter-name>
	    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
	    <init-param>
	        <param-name>encoding</param-name>
	        <param-value>UTF-8</param-value>
	    </init-param>
	    <init-param>
	        <param-name>ignore</param-name>
	        <param-value>false</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
	    <filter-name>Set Character Encoding</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--	Set session timeout 
	<session-config> 
        <session-timeout>1</session-timeout>
    </session-config>
     -->
</web-app>